html,
body {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
	color: $default;
	overflow-x: hidden;
}


.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1950px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	color: #fff;
	background-color: $accent;
	padding: 13px 37px;
	font-weight: 700;
	font-size: 15px;
	line-height: 30px;
	cursor: pointer;
	border-radius: 12px;
	transition: all .5s;
	max-width: 192px;
	max-height: 60px;
	border: none;
}

.btn:hover {
	transform: scale(1.05);
}

.section-title {
	font-size: 150px;
	line-height: 145px;
	letter-spacing: 0.1px;
	color: #F7F7F7;

}

.about__title,
.works__title,
.skills__title,
.news__title,
.team__title {
	font-size: 14px;
        line-height: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $accent;
        margin-bottom: 4px;
        margin-top: 40px;
}

.about__title-descr,
.works__title-descr,
.skills__title-descr,	
.team__title-descr,
.news__title-descr {	
	@extend %title-descr;
	font-size: 32px;
	line-height: 38px;
	
}